@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

h1 {
  font-family: "Dela Gothic One";
  color: rgba(234, 211, 193, 1);
}

p {
  font-family: "Space Grotesk";
  color: rgba(234, 211, 193, 0.6);
}
